<div class="container">
  <div class="row">
    <div class="col s4">
      <img class="sea" src="/images/sea-1337565_640.jpg" alt="">
    </div>
    <div class="col s4">
      <img class="sea" src="/images/SmallLogo.png" alt="">
    </div>
    <div class="col s4">
      <img id="beach" class="sea" src="/images/beach-832346_640.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="tre">TRE Chicago - is a beautiful & friendly place where you can come and get your TRE experience. We offer unforgettable service and will help you to escape the stresses of everyday life or get rid of your trauma pain. We have the best specialists and we were awarded the best TRE practice in Chicago!</p>
    </div>
  </div>
  <div class="row">
    <div class="col s4"></div>
    <button class="col s4 btn-large waves-effect waves-light" type="submit" name="action">Free consultation!
      <i class="material-icons right">send</i>
    </button>
    <div class="col s4"></div>
  </div>
</div>
