<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="nav">

        <ul id="ulmenu">
          <li class="menu1"><a href="#">Contact Us</a></li>
          <li class="menu1"><a href="#">About Us</a></li>
          <li class="menu1"><a href="#">What is TRE</a></li>
          <li class="menu1"><img id="logo" src="./images/SmallLogo.png" alt="TRE Logo"></li>
        </ul>
      </div>
    </header>
    {{{body}}}
  </body>
</html>
