<div class="row">
  <h1 class="tre">What is {{title}}</h1>
  <p>TRE (Tension, Stress & Trauma Release Excercise) is an innovative series of exercises that assist the body in releasing deep muscular patterns of stress, tension and trauma. reated by Dr. David Berceli, PhD, TRE® safely activates a natural reflex mechanism of shaking or vibrating that releases muscular tension, calming down the nervous system. When this muscular shaking/vibrating mechanism is activated in a safe and controlled environment, the body is encouraged to return back to a state of balance.</p>
  <p>TRE® is based on the fundamental idea, backed by recent research, that stress, tension and trauma is both psychological and physical. TRE®’s reflexive muscle vibrations generally feel pleasant and soothing.  After doing TRE®, many people report feelings of peace and well-being.</p>
</div>

<div class="row">
  <h1 class="tre">Benefits of {{title}}</h1>
  <ul id="benefits">
    <li class="liBenefits1">Less Worry & Anxiety</li>
    <li class="liBenefits1">Increased Flexibility</li>
    <li class="liBenefits1">Greater Emotional Resiliency</li>
    <li class="liBenefits1">Decreases Symptoms of Vicarious Trauma</li>
    <li class="liBenefits1">Healing of Old Injuries	</li>
    <li class="liBenefits1">Lessened Anxiety surrounding Serious Illness</li>
    <li class="liBenefits1">More Energy & Endurance	</li>
    <li class="liBenefits1">Relief from Chronic Medical Conditions</li>
    <li class="liBenefits1">Better Sleep</li>
    <li class="liBenefits1">Less Workplace Stress</li>
    <li class="liBenefits1">Increased Flexibility	</li>
    <li class="liBenefits1">Reduced Muscle & Back Pain</li>
    <li class="liBenefits1">Healing of Old Injuries	</li>
    <li class="liBenefits1">Greater Emotional Resiliency</li>
  </ul>
  <img id="stoner" src="./images/relaxation.png">
</div>
