<div class="container">

  <div class="row">
    <div class="col s12">
      <h1 class="tre">What is {{title}}</h1>
      <p>TRE (Tension, Stress & Trauma Release Excercise) is an innovative series of exercises that assist the body in releasing deep muscular patterns of stress, tension and trauma. reated by Dr. David Berceli, PhD, TRE® safely activates a natural reflex mechanism of shaking or vibrating that releases muscular tension, calming down the nervous system. When this muscular shaking/vibrating mechanism is activated in a safe and controlled environment, the body is encouraged to return back to a state of balance.</p>
      <p>TRE® is based on the fundamental idea, backed by recent research, that stress, tension and trauma is both psychological and physical. TRE®’s reflexive muscle vibrations generally feel pleasant and soothing.  After doing TRE®, many people report feelings of peace and well-being.</p>
    </div>
  </div>

  <div class="row">
    <h1>Benefits of {{title}}</h1>
    <div class="col s4">
      <ul>
        <li>Less Worry & Anxiety</li>
        <li>Increased Flexibility</li>
        <li>Greater Emotional Resiliency</li>
        <li>Decreases Symptoms of Vicarious Trauma</li>
        <li>Healing of Old Injuries	</li>
        <li>Lessened Anxiety surrounding Serious Illness</li>
        <li>More Energy & Endurance	</li>
       </ul>
    </div>

    <div class="col s4">
      <ul>
        <li>Relief from Chronic Medical Conditions</li>
        <li>Better Sleep</li>
        <li>Less Workplace Stress</li>
        <li>Increased Flexibility	</li>
        <li>Reduced Muscle & Back Pain</li>
        <li>Healing of Old Injuries	</li>
        <li>Greater Emotional Resiliency</li>
      </ul>
    </div>
    <div class="col s4">
      <img src="./images/relaxation.png">
    </div>
  </div>

</div>
