$mapheight: 200px
$mapwidth: 100%

#logo
  width: 110px
  margin-left: 30px

.navbuttons
  font-size: 20px
  padding-top: 10px

h1
  color: rgb(83, 213, 68)

#smokyl
  width: 400px

.sea
  width: 100%
  padding-top: 15px

#beach
  padding-top: 5px

.tre
  font-size: 2em

html, body
  height: 100%
  margin: 0
  padding: 0


#map
  height: $mapheight
  width: $mapwidth

.icon
  width: 50px

.waves-light
  margin-top: 10px
